{{!<layout}}

<main class="container">
	<h1>About</h1>
	<p>Welcome to Travlr Getaways!</p>

	<section>
		<h2>Our Dedicated Mission</h2>
		<p>We aim to fufill your happiness. Through your destination, we intend for you to be relaxed and experience a stress free environment.</p>
		</section>

		<section>
			<h2>Why pick us?</h2>
			<ul>
				<li>Customized travel itineraries</li>
				<li>Destination Advice</li>
				<li>Pricing</li>
				<li>24/7 Customer Support</li>
			</ul>
		</section>
	</main>

