{{!<layout}}

<h1>Contact Us</h1>
<form action="/" method="post">
    <table>
		<tr>
			<td>Name:</td>
			<td><input type="text" class="txtfield"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="text" class="txtfield"></td>
		</tr>
		<tr>
			<td>Subject:</td>
			<td><input type="text" class="txtfield"></td>
		</tr>
		<tr>
			<td class="txtarea">Message:</td>
			<td><textarea></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Send" class="btn"></td>
		</tr>
	</table>
</form>

<h2>Travlr Getaways</h2>
<p><strong>Address:</strong> 123 Lorem Ipsum Cove, Sed Ut City, LI 12345</p>
<p><strong>Telephone:</strong> 1-800-999-9999</p>
<p><strong>Fax:</strong> 1-800-111-1111</p>