{{!<layout}}

<div id="adbox">
	<img src="/images/sea-sound.jpg" alt="Img">
	<h1>Celebrate and enjoy your summer!</h1>
	<p>Enjoy your time and experience your summer destination</p>
</div>

<div id="main">
	<div class="box">
		<h3>Blog</h3>
		<ul>
			<li>
				<h4><a href="/news"> 2023 Beach Contest</a></h4>
				<span>April 02, 2023</span>
				<p>Start planning your destination.</p>
			</li>
			<li>
				<h4><a href="/news">Top 10 Diving Sports</a></h4>
				<span>May 29, 2023</span>
				<p>Discover incredible and immersive diving sports and marine life.</p>
			</li>
		</ul>
	</div>
</div>