{{!<layout}}

<h1>Meal Options</h1>
<ul id="foods">
	<li>
		<h2>Seafood</h2>
		<div class="info">
			<img src="/images/seafoods.jpg" alt="Seafood">
			<p><strong>Fried Salmon Special: </strong> Incredible flavor options.</p>
		</div>
	</li>
	<li>
		<h2>Desserts</h2>
		<div class="infos">
			<img src="/images/desserts.jpg" alt="Dessert">
			<p><strong>Ice Cream Sandwich:</strong> High quality and deliciously tasty.</p>
		</div>
	</li>
	<li>
		<h2>Buffet</h2>
		<div class="infos">
			<img src="/images/buffet.jpg" alt="Buffet">
			<p><strong>Mixed Buffet:</strong> Enjoy a large selection of diverse food options.</p>
		</div>
	</li>
</ul>