{{!<layout}}

<h1>News</h1>

<article>
	<h2> Experience the joy of Kayaking!</h2>
	<img src="/images/kayak.jpg" alt="Kayaking">
	<p>Enjoy the fun and enhanced experience of kayaking!</p>
</article>

<section>
	<h3>Tips</h3>
	<ul>
		<li><a href="#">What to bring on the beach for your trip?</a></li>
		<li><a href="#">Planning Fun Activities</a></li>
		<li><a href="#">Diving Checklist</a></li>
		<li><a href="#">First Aid</a></li>
		<li><a href="#">Want to know how to build a sandcastle?</a></li>
		<li><a href="#">Tanning Tips</a></li>
	</ul>
</section>