{{!<layout}}

<h1>Rooms</h1>

<ul id="rooms">
	<li>
		<img src="/images/first-class.jpg" alt="First Class Room">
		<h2>First Class Room</h2>
		<p>Clean and enriched with spacious areas and ocean views.</p>
		<span class="rate">Rate: $220 / Day</span>

	</li>
	<li>
		<img src="/images/deluxe.jpg" alt="Deluxe Room">
		<h2>Deluxe Room</h2>
		<p>Enjoy our affordable and tailored enhanced deluxe rooms.</p>
		<span class="rate">Rate: $150 / Day</span>

	</li>
	<li>
		<img src="/images/suite.jpg" alt="Suite Room">
		<h2>Suite Room</h2>
		<p> Designed for solo or couples room.</p>
		<span class="rate">Rate: $180 / Day</span>

	</li>
</ul>